.hacker-profile {
  display: flex;
  justify-content: space-between;
  background-color: #eaeaea;
}

.right-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.details {
  margin: 20px 10px;
  display: flex;
  height: 175px;
  background: #ffff;
  color: black;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 50%;
}
.icon {
  width: 22%;
  font-size: 30px;
  border-radius: 28px;
}

.red {
  color: red;
}

.green {
  color: green;
}
