.hacker {
  display: flex;
  width: 100%;
}
.hacker a {
  margin: 10px 0;
  width: 100%;
  background-color: white;
  color: black;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  // align-items: baseline;
}
.hacker-text {
  padding-top: 15px;
  padding-left: 80px;
  h4 {
    font-size: 1.4rem;
    padding: 5px 0;
    color: rgb(50, 50, 50);
  }
  .bold {
    font-weight: bold;
  }
}

.relative-position {
  position: relative;
  cursor: pointer;
}
.index-card {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px 5px 10px 10px;
  border-radius: 5px;
  top: 0px;
  right: -60px;
  color: rgb(50, 50, 50);
  background-color: #ef8376;
  font-size: 0.7rem;
  text-align: start;
  font-style: italic;
  .emphasis {
    font-weight: 600;
    color: white;
  }
}
