.hacker {
  display: flex;
  width: 100%;
}
.hacker a {
  margin: 10px;
  width: 100%;
  background-color: white;
  color: black;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  // align-items: baseline;
}
.hacker-text {
  padding-top: 15px;
  h4 {
    font-size: 1.4rem;
    padding: 5px 0;
    color: #ef8376;
  }
  .bold {
    font-weight: bold;
  }
}

.relative-position {
  position: relative;
  cursor: pointer;
}
.index-card {
  position: absolute;
  width: 130px;
  height: 70px;
  top: 0px;
  right: -40px;
  color: rgb(50, 50, 50);
  font-size: 0.7rem;
  text-align: start;
  font-style: italic;
  .emphasis {
    font-weight: 600;
    color: #ef8376;
  }
}
