.hacker-dummy {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // justify-content: center;
}
.hacker {
  margin: 10px;
  width: 46%;
  background-color: grey;
  color: white;
}
.sentiment-graph {
  width: 80%;
}
