.sidebar {
  width: 30%;
  margin: 2rem;
  background-color: #393e41;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}
